@use "../../styles/variables.scss" as *;
footer#footer {
  font-size: 12px;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  text-shadow: 0 1px #fff;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 12px;
}
footer#footer a {
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  color: #08c;
}
footer#footer .outer {
  display: flex;
  opacity: 0.6;
  justify-content: space-between;
  .footer-right {
    display: flex;
    align-items: center;
    gap: 6px;
    text-align: right;
  }
  @media all and (max-width: $mobileBreakpoint) {
    flex-direction: column;
    gap: 8px;
    & .footer-right {
      text-align: left;
    }
  }
}
:root {
  --planet-shuttle-color: linear-gradient(to right, #14100f, #d55b5b, #4d14e6);
}
:root[saved-theme="dark"] {
  --planet-shuttle-color: linear-gradient(to right, #d3a497, #d55b5b, #9877f1);;
}
footer#footer {
  .footer-link {
    opacity: 0.6;
  }
  .extra-footer-link {
    text-align: left;
  }
  .planet-shuttle {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--planet-shuttle-color);
    text-shadow: none;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  }
}
.footer-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
